# Ignore sensitive files
config.php
.env

# Sensitive SQL dump
full_dump.sql


# Ignore system files
.DS_Store

# Ignore vendor or cache if you add composer
/vendor/
/node_modules/
/cache/
config.php
.env
.DS_Store
/vendor/
/node_modules/
/cache/
